.showcase {
    width: 100%;
    height: 1000px;
    position: relative;
    background-color: black;
}
.vid {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    align-items: center;
}
.title {
    font-family: 'Pacifico', cursive;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    font-size: 100px;
    color: rgb(255, 255, 255);
    mix-blend-mode: multiply;
}
.teun {
    font-size: 100px;
}
.tede {
    font-size: 70px;
}
html {
    background-color: black;
}
.tsq {
    color: white;
    font-family: 'Water Brush', cursive;
}
.oe {
   font-size: 12pt;
}
.acc {
    font-size: 15pt;
}
.dtmc {
    font-size: 25pt;
}